.vehicle-container{
    display: flex;
    justify-content: center;
}

.vehicle-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}

.vehicle-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
}

.vehicle-name {
    width: 210px;
}

.vehicle-cost {
    width: 255px;
}

.vehicle-length {
    width: 330px;
}